/*
James Raleigh
A3
Seng 513
*/

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
/* https://stackoverflow.com/questions/48175365/how-to-get-root-selector-info-from-bootstrap-4-programmatically */
/* https://stackoverflow.com/questions/36088655/accessing-a-css-custom-property-aka-css-variable-through-javascript */
/* https://www.w3schools.com/cssref/css_selectors.asp */
:root {
    --odd-row: #CAFFBA;
    --even-row: #FFE0E7;
    --body-background: #FFF3E0;
    --input-text: black;
    --input-background: #D8C09E;
    --button: #A4C639;
    --scrolbar: orange;
    --scrolbartrack: #F06292;
    --scrolbarthumb: #9CCC65;
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 25px Times New Roman;
    background: var(--body-background);
}

.output {
    overflow: none;
    display: inline;
}
  
.sidebar {
    width: 25%;
    float: right;
}

.chat {
    width: 75%;
    float: right;
}

.header {
    background: var(--input-background);
    color: var(--input-text);
    text-align: left;
    padding: 10px;
    padding-left: 50px;
    width: 100%;
}

/* https://css-tricks.com/fun-viewport-units/ */
.content {
    width: 100%;
    max-height: calc(100vh - 75px);
    overflow-y: scroll;
}

.messages.content, .users.content {
    list-style-type: none;
    color: var(--input-text);
}

.messages.content li, .users.content li {
    padding: 10px;
    padding-left: 20px;
}

.messages.content li:nth-child(odd), .users.content li {
    background: var(--odd-row);
}

.messages.content li:nth-child(even) {
    background: var(--even-row);
}
  
form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 89%;
    margin-right: .5%;
    color: var(--input-text);
    background: var(--input-background);
}

form button {
    width: 10%;
    background: var(--button);
    border: none;
    padding: 10px;
}

form button:hover {
    background: #FFEF02;
}

form button:active {
    background: #FF6FFF;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
/* Format the whole scroll bar */
.scroll::-webkit-scrollbar {
    width: 15px;
    background-color: var(--scrolbar);
}

/* Format the progress bar */
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--scrolbartrack);
}

/* Format the draggable scroll handle */
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrolbarthumb);
}
